<h1>Editing Temakeriacompraproduto</h1>

<%= render 'form', temakeriacompraproduto: @temakeriacompraproduto %>

<%= link_to 'Show', @temakeriacompraproduto %> |
<%= link_to 'Back', temakeriacompraprodutos_path %>
