<p id="notice"><%= notice %></p>

<h1>Compoes</h1>

<table>
  <thead>
    <tr>
      <th>Codbarras</th>
      <th>Codcardapio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compoes.each do |compo| %>
      <tr>
        <td><%= compo.codbarras %></td>
        <td><%= compo.codcardapio %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compo', new_compo_path %>
